@page "/"

<h1>Hello, world!</h1>

Hi. I'm Elijah. This is a website I made for an assignment using a tutorial. 

<SurveryPrompt Title="Have you seen my digital portfolio?" />

<Counter IncrementAmount="10" />
